.embla {
  width: 100%;
  /* margin: 100px auto; */
  padding: 2rem 0;
  overflow: hidden;
}

.embla__viewport {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow: visible;
  scroll-padding: 0 1rem;
}

.embla__container {
  display: flex;
  gap: 2rem;
  will-change: transform;
  margin: 0 auto;
}

.embla__slide {
  flex: 0 0 95%;
  transition: transform 0.8s ease, opacity 0.8s ease;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 1rem;
}

.embla__slide__img {
  width: 100%;
  height: auto;
  min-height: 350px;
  border-radius: 1rem;
  object-fit: cover;
}

.embla__slide.is-active {
  transform: scale(1);
  opacity: 1;
}

.embla__slide.is-fade {
  transform: scale(0.9);
  opacity: 0.4;
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 80%;
  }

  .embla__slide__img {
    min-height: 250px;
  }
}

@media (max-width: 480px) {
  .embla__slide {
    flex: 0 0 90%;
    margin: 0 auto;
  }

  .embla__slide__img {
    min-height: 150px;
  }
}
