.challenge-section {
  /* border: 1px solid gray; */
  padding: 50px 100px;
  background-color: #f8f4ff;
  text-align: start;
  font-family: 'Sora', sans-serif;
}

.challenge-header h1 {
  font-size: 38px;
  color: #1b184f;
  margin-bottom: 20px;
  line-height: 1.3;
}

.highlight {
  /* border: 1px solid red; */
  /* width: 55%; */
  font-size: 22px;
  font-weight: 800;
  color: #7e56da;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  letter-spacing: 1.5px;
}

.highlighted {
  color: #7e56da;
  font-weight: 600;
}

.faded {
  color: gray;
}

.css-19opgx6-MuiFormControlLabel-root {
  /* border: 1px solid whitesmoke; */
  border-radius: 25px !important;
  margin-left: 0px !important;
  margin-right: 6px !important;
  background-color: #9a76f0;
}

.css-1p570h0-MuiSwitch-root
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  opacity: 1;
  background-color: transparent !important;
}

.css-1p570h0-MuiSwitch-root .MuiSwitch-track {
  opacity: 1;
  background-color: transparent !important;
  border-radius: 10px !important;
}

.css-tj8d99-MuiSwitch-track {
  border-radius: 17px !important;
  background-color: transparent !important;
}
.mode-switch-image img {
  vertical-align: middle;
}

.subtext {
  font-size: 16px;
  color: #555;

  display: flex;
  justify-content: start;
}

.subtext > span {
  color: #686464;
}

.challenge-image {
  width: 100%;
  position: relative;
  top: 350px;
  z-index: 1;
}

/* For Mobile Device */
@media (min-width: 320px) and (max-width: 425px) {
  .challenge-section {
    padding: 30px 20px;
  }

  .challenge-header h1 {
    font-size: 20px;
  }

  .highlight {
    /* border: 1px solid red; */
    width: 100%;
    font-size: 0.8em;
    font-weight: 500;
  }

  .subtext > span {
    /* border: 1px solid red; */
    width: 281px;
    font-size: 13px;
    margin-top: 20px;
  }

  .click-here-arrow {
    /* border: 1px solid red; */

    position: relative;
    right: 0px;
  }

  .embla {
    position: relative !important;
    bottom: 50px !important;
  }

  .challenge-image {
    width: 100%;
    position: relative;
    top: 150px;
    z-index: 1;
  }
}

/* For Tablet Device */
@media (min-width: 426px) and (max-width: 768px) {
  .challenge-section {
    padding: 40px 30px;
  }
  .challenge-image {
    width: 100%;
    position: relative;
    top: 250px;
    z-index: 1;
  }

  .subtext > span {
    /* border: 1px solid red; */
    width: 80vw;
    font-size: 1.5cw;
    margin-top: 20px;
  }

  .click-here-arrow {
    /* border: 1px solid red; */

    position: relative;

  }
}

/* For Tablet Device */
@media (min-width: 801px) and (max-width: 1000px) {
  .challenge-section {
    padding: 50px 40px;
  }
  .challenge-image {
    width: 100%;
    position: relative;
    top: 250px;
    z-index: 1;
  }
}