.private-challenges-section {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f3ff;
  margin: 0 auto;
  font-family: 'Satoshi', 'Sora', sans-serif;
}

.video-container {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 16px;
  position: relative;
  width: 1040px;
  max-width: 100%;
  height: 585px;
  overflow: hidden;
  margin: 0 auto;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 320px) and (max-width: 425px) {
  .private-challenges-section {
    padding: 10px 20px;
  }

  .video-container {
    background-color: #f7f3ff;
    border-radius: 16px;
    position: relative;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .private-challenges-section {
    padding: 60px 40px;
  }

  .video-container {
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 16px;
    position: relative;
    height: 432px;
    overflow: hidden;
    margin: 0 auto;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .private-challenges-section {
    padding: 50px 100px;
  }

  .video-container {
    border: 1px solid black;
    background-color: #f7f3ff;
    border-radius: 16px;
    position: relative;
    height: 432px;
    overflow: hidden;
    margin: 0 auto;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}




